.git
.gradle
.gradle-user-home
.idea
**/build
client-app/.next
client-app/node_modules
authorization-ui/.next
authorization-ui/node_modules
authorization-ui/out
client-app/.env.local
*.iml
*.tsbuildinfo
README.md
**/*.md
**/src/test
**/build/reports
